<div class="t228__rightside">
  <div class="t228__rightcontainer">
    <div class="t228__right_descr">
      <div class="custom_number">
        <a href="{{ section.settings.phone_number_url }}" class="header__menu-item list-menu__item link link--text focus-inset" style="padding: 0; font-size: 20px;">
          <span>{{ section.settings.phone_number_text }}</span>
        </a>
      </div>
    </div>
    <div class="t-sociallinks">
      <div class="t-sociallinks__wrapper">
        <div class="t-sociallinks__item t-sociallinks__item_whatsapp">
          <a href="{{ section.settings.whatsapp_url }}" class="header__menu-item list-menu__item link link--text focus-inset" style="padding: 0;" rel="nofollow noopener">
            {% render 'whatsapp-icon' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>